<mat-card class="director-dialog">
  <button
    class="director-close-button"
    mat-stroked-button
    aria-label="Close the director button"
    mat-dialog-close
    color="primary"
  >
   Close
  </button>
  <mat-card-title>
    <h3 class="director-dialog-title">{{ data.director.Name }}</h3>
  </mat-card-title>
  <mat-dialog-content class="director-dialog-content">
    <b>Born: </b>{{ data.director.Birth | date: "longDate" }}
    <br>
    <b>Bio: </b>{{ data.director.Bio }}
  </mat-dialog-content>
</mat-card>
