.form-container {
  max-height: 400px;
  overflow-y: auto;

  @media screen and (min-width: 768px) {
    max-height: none;
  }
}

.custom-dialog-title {
  font-size: 20px;
}

.custom-dialog-content {
  padding: 0;
}

.custom-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.custom-dialog-actions {
  justify-content: flex-end;
}

.custom-button {
  min-width: 100px;
}
